.page-header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.page-header .top-bar-container {
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-primary-darker);
  color: var(--color-text-in-primary);
  padding: 1.6rem 10%;
}

.page-header .top-bar-container a {
  height: 3.2rem;
  transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover {
  opacity: 0.6;
}

.page-header .top-bar-container > img {
  height: 1.6rem;
}

.page-header .header-content {
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin: 3.2rem auto;
  display: flex;
  flex-direction: column;
}

.page-header .header-left-content {
  order: 2;
}

.page-header .header-right-content {
  order: 1;
  margin-bottom: 1.4rem;
}

.page-header .header-left-content strong {
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
}

.page-header .header-left-content p {
  max-width: 30rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-in-primary);
  margin-top: 2.4rem;
}

@media (min-width: 700px) {
  .page-header {
    height: 340px;
  }

  .page-header .top-bar-container {
    width: 100%;
    padding: 1.6rem 22%;
  }

  .page-header .header-content {
    flex: 1;
    max-width: 740px;
    margin: 0 auto;
    padding-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-header .header-left-content {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .page-header .header-left-content strong {
    max-width: 350px;
  }

  .page-header .header-right-content {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
