.form-submit-button-inactive {
  width: 100%;
  height: 5.6rem;
  background: var(--color-line-in-white);
  color: var(--color-text-complement);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

.form-submit-button-active {
  background: var(--color-secondary);
  color: var(--color-button-text);
}

.form-submit-button-active:hover {
  background: var(--color-secondary-dark);
}
